body {
	background: #fff;
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
}

.navbar_container {
	display: grid;
	grid-template-columns: 180px auto;
	justify-content: unset;
}
.navbar {
	background: #777777;
	padding: 1em;
	margin: 0;
	height: auto;
	max-width: 100%;
	justify-content: space-between;
	ul {
		display: flex;
		
		max-width: 100%;
	}
	li {
		a {
			text-decoration: none;
			padding: .8em;

			&:hover {
				color: #000000;
				font-weight: bold;
			}
		}
		
	}
	
}

.hero_logo {
	font-weight: bold;
	color: black;
	font-size: 2em;
	text-align: center;

	span {
		color: rgb(255, 17, 0);
	}
}

.announcements {
	padding: .1;
	margin-top: -5em;

	ul {
		margin-top: -1em;
	}
	li {
		padding: .3em;
		padding-left: 0;
	}
}

.info {
	ul {
		margin-top: -1em;
	}
	li {
		padding: .4em;
		padding-left: 0;
	}
}

a {
	color: rgb(37, 37, 37)
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

section {
	padding: 3em 1em
}