<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VAHS Engineering Club</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<nav class="navbar">
		<div class="navbar_containter">
			<!--<a href="/" id="navbar_logo">VAHS Engineering Club</a>
			</div>-->
			<ul class="navbar_menu_right">
				<li>
					<a href="/"> Home </a>
				</li>
				<li>
					<a href="/3d-printing"> 3D Printing </a>
				</li>
				<li>
					<a href="/rocketry"> Rocketry </a>
				</li>
				<li>
					<a href="/seaperch"> Sea Pearch </a>
				</li>
				<li>
					<a href="/synthetic-hand"> Synthetic Hand </a>
				</li>
				<li>
					<a href="/drones"> Drones </a>
				</li>

			</ul>
		</div>
	</nav>

	<img src="seaperch.jpg" alt="Underwater Seaperch Robot">
	
	<section class="announcements">
		<div class="announcements_header">
			<h3>Announcements:</h3>
		</div>
		<div class="announcements_list">
			<ul>
				<li>None at the moment</li>
			</ul>
		</div>
	</section>

	<section class="info">
		<div class="info_header">
			<h3>Description:</h3>
		</div>
		<div class="info_list">
			<ul>
				<li>Meet every week in a 2-5 person group to build and test a underwater robot that eventually is entered into a competion to compete against others in multiple challenges such as delivering a package, racing through rings, and retreival.</li>
				<li>Access the build instuctions here: </li>
				<li>Homepage of the seaperch website for more info and competition dates/times: </li>
			</ul>
		</div>
	</section>
	<section class="contacts">
		<div class="contacts_header">
			<h3>Contacts:</h3>
		</div>
		<div class="contact_list">
			<ul>
				<li>Veteran - Landon B: 18326@verona.k12.wi.us</li>
				<li>Director - Mr Boehm: boehmr@verona.k12.wi.us</li>
			</ul>
		</div>
	</section>
</body>
</html>
